body{
    background-color:cornflowerblue;
}

#conteneur {
    background-color:blanchedalmond;
    margin: 5px 50px 5px 50px;
    padding: 10px 10px 10px 10px;
}

#intro{
    margin:10px;
    padding: 10px 10px 10px 10px;    
    background-color:coral;
}

#formulaire {
    margin:10px;
    padding: 10px 10px 10px 10px;    
    background-color:darkorange;
}

#formulaire .col{
    margin : 0px 0px 0px 200px;
}

#intro p{
    text-align: center;
}
