body {
    background-image:url(johnny-hallyday-les-jeunes-annees-photo-9.jpg);
}

#intro {
    margin: 5px 5px 5px 5px;
    padding: 10px 10px 10px 10px;    
}

#intro p {
    text-align: center;
    font-size: 20px;
    font-family:"Courrier monospace";
    color:white;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-family:"Courrier monospace";
    color:white;  
}

#conteneur {
    margin: 0px 80px 0px 80px;
    padding: 5px 5px 5px 5px;
}

/* Fromulaire */

#formulaire {
    margin: 5px 420px 5px 420px;
    padding: 10px 10px 10px 10px;    
    border: 3px solid rgba(61, 61, 61);
    border-radius: 20px;
    background-color:rgba(61, 61, 61, 0.5); 
}

#formulaire .col {
    margin : 10px 0px 0px 0px;
    height: 30px;
    width: 300px;
    border-radius: 5px;
    border: 2px solid rgba(61, 61, 61);
    background-color: rgba(135, 135, 135);
    color:white;
    font-size:17px;    
}

#formulaire .col:focus{
    border: 2px solid #008098;
    box-shadow: 0 0 3px 2px #008098;
}

#formulaire label {
    margin : 15px 0px 0px 20px;
    width : 200px;
    display : block;
    float : left;
    font-family:"Courrier monospace";
    font-size:19px;
    color: white;
    font-weight: bold;
}

::placeholder {
    color: rgba(189,189,189);
}

/* Bouton d'inscription */

#btn_inscription {
    width:300px;
    height: 35px;
    margin : 20px 0px 0px 220px;
    border-radius:6px; 
    border: 2px solid rgba(61, 61, 61);
    font-size: 20px;
    color: white;
    background-color: #F77900;
    font-weight: bold;
    font-family: "Courrier monospace";   
}

#btn_inscription:hover{
    background-color: #008098;
}


